table-view {
    background-color: #fff;
}
table-view-cell {
    color: #081c2e;
    background-color: #fff;
}
table-view-cell label {
    font-family: "Avenir";
    font-weight: 600;
}
tab-bar {
    background-color: black;
    color: black;
    selected-color: black;
    box-shadow: inset 0px 0px clear;
    height: 50pt;
}
.title {
    font-weight: "bold";
    color: #1858b6;
}
.subtitle {
    color: #5f7386;
}
#arrivalsView button {
    font-family: "Avenir";
    background-color: #2d90ff;
    opacity: 0.8;
    font-weight: bold;
    border-radius: 7px;
    color: #fff;
}

.arrivalsTitle {
    font-weight: bold;
    color: #fff;
}
.arrivalsTitleBar {
    background-color: #2d90ff;
    opacity: 0.8;
}
.arrivalsRoute {
    color: #2461ba;
    font-weight: bold;
}
.arrivalsDistance {
    color: #ff0b60;
}
.arrivalsHeadsign {
    color: #5ab5ff;
}

.arrivalTime {
    color: #739dc4;
    font-weight: 600;
}
.arrivalTimeLabel {
    color: #6184a5;
    font-family: "HelveticaNeue";
    font-size: 13pt;
    
}
.arrivalDetails label {

}
