
table-view {
    background-color: #fff;
}
table-view-cell {
    color: #081c2e;
    background-color: #fff;
}
table-view label {
    font-family: "Avenir";
}
#nearbyView {
}
#arrivalsView {

}
#routesLabel {
    color: #5f7386;
}
.arrivalsTitle {
    font-weight: bold;
    color: #fff;
}
.arrivalsTitleBar {
    background-color: #2d90ff;
    opacity: 0.8;
}
.title {
    font-weight: "bold";
    color: #1858b6;
}
.subtitle {
    color: #5f7386;
}
.arrivalTime {
    color: #739dc4;
}
.arrivalTimeLabel {
    color: #6184a5;
}
.arrivalsRoute {
    color: #2461ba;
    font-weight: bold;
}
.arrivalsDistance {
    color: #ff0b60;
}
.arrivalsHeadsign {
    color: #5ab5ff;
}
#arrivalsView button {
    background-color: #2d90ff;
    opacity: 0.8;
    font-weight: bold;
    border-radius: 7px;
    color: #fff;
}
